/* Genel ayarlar */
.kuhlturm-header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  background-color: var(--background-color);
}

.kuhlturm-header-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
  background-color: var(--background-color);
  padding: 0 20px;
}

.kuhlturm-top-links {
  display: flex;
  gap: 20px;
  margin-right: 150px;
  color: var(--primary-color);
}

.kuhlturm-header-top img {
  display: inline-block;
  padding-left: 10px;
  height: 60px;
  width: auto;
}

.kuhlturm-header-top img.kuhlturm-logo {
  width: 150px;
}

.kuhlturm-header-Links a {
  color: var(--border-color);
  text-decoration: none;
  margin-right: 10px;
}

.kuhlturm-header-Links a:hover {
  text-decoration: underline;
}

.kuhlturm-mobile-menu-button {
  display: none;
  color: var(--primary-color);
}

/* Ana Menü */
.kuhlturm-main-nav {
  display: flex;
  justify-content: flex-end;
  width: 96%;
  padding-right: 20px;
  z-index: 100000;
  background-color: var(--background-color);
}

.kuhlturm-main-nav ul {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.kuhlturm-main-nav ul li {
  position: relative;
  padding: 0;
}

.kuhlturm-dropdown {
  display: flex;
  justify-content: center;
}

/* Nav Butonları */
.kuhlturm-nav-button {
  background-color: var(--primary-color);
  color: var(--text-color);
  padding: 15px 20px;
  text-decoration: none;
  display: block;
  font-weight: bold;
  margin: 0;
  border: 0.1px solid var(--border-color);
}

.kuhlturm-nav-button img {
  margin-right: 8px;
  width: 16px;
  height: 16px;
}

/* Stil Koruma */
#Unternehmen {
  background-color: var(--tertiary-color2);
  color: white; /* Renk beyaz yapıldı */
}
#Unternehmen:hover {
  background-color: var(--background2-color);
  color: var(--primary-color);
}

#Bibliothek {
  background-color: var(--text4-color);
  color: white; /* Renk beyaz yapıldı */
}
#Bibliothek:hover {
  background-color: var(--background2-color);
  color: var(--primary-color);
}

#Hilfmittel {
  background-color: var(--text5-color);
  color: white; /* Renk beyaz yapıldı */
}
#Hilfmittel:hover {
  background-color: var(--background2-color);
  color: var(--primary-color);
}

/* Dropdown Menü İçin Yatay Sıralama */
.kuhlturm-dropdown-content {
  display: none;
  position: fixed;
  top: 120px;
  left: 0;
  background-color: var(--background-color);
  width: 100%;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 10;
}

/* Alt linklerin sütunlar halinde gelmesi için */
.kuhlturm-dropdown-row {
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
  width: 100%;
  padding: 0;
  margin: 0;
}

.kuhlturm-dropdown-column {
  display: flex;
  flex-direction: column;
  justify-content: flex-start; /* Linklerin üstte kalmasını sağlar */
  height: 100%; /* Sütunların eşit yükseklikte olmasını sağlar */
}
/* Alt linklerin sütunlar halinde gelmesi için */

/* Sadece üst seviye linkleri hedef al */
.kuhlturm-dropdown-column .upper-level {
  flex-basis: 30%; /* Her üst kategoriye genişlik ver */
  margin-right: 30px; /* Daha fazla boşluk sağlamak için */
  font-weight: bold;
  padding: 10px;
  color: var(--text-color); /* Varsayılan renk */
  border: 1px solid var(--border-color);
}

.kuhlturm-dropdown-column .upper-level:hover {
  color: var(--primary-color);
  background-color: var(--background2-color);
}

.unternehmen-dropdown .upper-level {
  background-color: var(--tertiary-color2);
}

.bibliothek-dropdown .upper-level {
  background-color: var(--text4-color);
}

.hilfmittel-dropdown .upper-level {
  background-color: var(--text5-color);
}
/* Sadece üst seviye linkleri hedef al bitti*/

/* Sutunlar */
.kuhlturm-dropdown-column ul {
  flex-grow: 1; /* Sütunların eşit yükseklikte olmasını sağlar */
  display: flex;
  justify-content: flex-start; /* Linkler yukarıda kalır */
  gap: 10px; /* Linkler arasındaki boşluk */
}

/* Flex özelliği ile sütunların eşit genişlikte olması */
.kuhlturm-dropdown-column ul li {
  width: 100%; /* Eşit genişlik */
}

/* Alt başlıklar (Linkler) */
.kuhlturm-dropdown-column ul li a {
  padding: 10px 15px;
  text-decoration: none;
  color: var(--primary-color);
  display: inline-block;
  width: 100%; /* Genişlik sabit */
  text-align: left;
  box-sizing: border-box; /* Padding dahil genişlik hesaplama */
  background-color: var(--background-color);
  transition: background-color 0.3s ease, color 0.3s ease;
}

.kuhlturm-dropdown-column ul li ul {
  display: flex;
  flex-direction: column; /* Alt linkler column şeklinde dizilecek */
  margin-top: 10px;
  width: 100%;
}

/* en alt menu */
.kuhlturm-dropdown-column ul li ul li a {
  color: var(--secondary-color);
  padding: 5px 12px;
  display: inline-block;
  width: 100%;
  border-bottom: 1px solid var(--border-color);
  background-color: var(--background-color);
}

.kuhlturm-dropdown-column ul li ul li a:hover {
  color: var(--text-color);
  background-color: var(--tertiary-color2);
}

.unternehmen-dropdown ul li ul li a:hover {
  background-color: var(--tertiary-color2);
}

.bibliothek-dropdown ul li ul li a:hover {
  background-color: var(--text4-color);
}
.hilfmittel-dropdown ul li ul li a:hover {
  background-color: var(--text5-color);
}
/* en alt menu sonu */

/* Flex yapısıyla sütunlar arası mesafe */
.kuhlturm-dropdown-row {
  display: flex;
  justify-content: space-between; /* Sütunlar arasında boşluk */
  gap: 20px; /* Sütunlar arası mesafe */
}

.kuhlturm-dropdown-column {
  flex: 1;
  min-width: 200px; /* Her bir sütunun minimum genişliği */
}

/* Dropdown Menü Gösterimi */
.kuhlturm-show {
  display: flex;
}

/* Mobil görünüm için hamburger menüsü */
@media screen and (max-width: 768px) {
  .kuhlturm-top-links {
    display: none;
  }

  /* Mobil menüde overflow ekleyerek kaydırma sağlama */
  .kuhlturm-main-nav {
    display: none;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.9);
    position: fixed;
    top: 0; /* Sabit navbarın hemen altında */
    left: 0;
    width: 100%;
    height: 100vh; /* Tüm ekran yüksekliği */
    justify-content: flex-start; /* Üste hizalayın */
    align-items: flex-start;
    padding-top: 50px; /* Menü içeriği sabit navbarın altında başlasın */
    transition: transform 0.4s ease;
    transform: translateX(100%);
    z-index: 99;
    opacity: 0;
    visibility: hidden;
    overflow-y: auto; /* Kaydırma özelliği ekle */
    scroll-behavior: smooth; /* Kaydırmayı düzgün hale getir */
  }

  .kuhlturm-main-nav.kuhlturm-mobile-visible {
    display: flex;
    transform: translateX(0);
    opacity: 1;
    visibility: visible;
    
  }

  .kuhlturm-main-nav ul {
    flex-direction: column;
    width: 100%;
  }

  .kuhlturm-nav-button {
    width: 100%;
    padding: 20px;
    text-align: left;
    border-bottom: 1px solid var(--border-color);
  }

  /* Mobil dropdown içerikleri */
  .kuhlturm-dropdown-content {
    background-color: var(--text-color); /* Arka plan rengi */
    top: 100%;
    display: none;
  }

  .kuhlturm-dropdown-content.kuhlturm-show {
    display: block;
  }

  .kuhlturm-dropdown-content ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  .kuhlturm-dropdown-content ul li {
    margin: 0;
    padding: 0;
  }

  /* Mobilde alt linklerin düzenlenmesi */
  .kuhlturm-dropdown-content ul li a {
    color: var(--primary-color);
    font-size: 16px;
    padding: 5px 0;
    display: block;
    text-align: left;
  }

  /* Alt linklerin sütunlar halinde gelmesi için */
  .kuhlturm-dropdown-row {
    flex-direction: column;
    gap: 10px; /* Daha küçük ekranlar için boşlukları daralt */
  }

  .kuhlturm-dropdown-column {
    min-width: 100%; /* Sütunlar tam genişlik olur */
  }

  .kuhlturm-dropdown-content ul li a:hover {
    background-color: var(--background-color-hover);
    color: white;
  }

  /* Hamburger Menü Stili */
  .kuhlturm-mobile-menu-button {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
    cursor: pointer;
    z-index: 100;
  }

  .kuhlturm-mobile-menu-button .bar {
    height: 3px;
    width: 100%;
    background-color: var(--primary-color);
    border-radius: 10px;
    transition: all 0.3s ease;
  }

  /* Hamburger Menü Açıldığında X İşaretine Dönüşmesi */
  .kuhlturm-mobile-menu-button.open .bar:nth-child(1) {
    transform: rotate(45deg) translate(5px, 5px);
  }

  .kuhlturm-mobile-menu-button.open .bar:nth-child(2) {
    opacity: 0;
  }

  .kuhlturm-mobile-menu-button.open .bar:nth-child(3) {
    transform: rotate(-45deg) translate(5px, -5px);
  }

  /* Dropdown menü konum ve görünüm */
  .kuhlturm-dropdown-content {
    display: none;
    position: fixed;
    top: 224px; /* Sabit navbar altında */
    left: 0;
    background-color: white;
    width: 96%;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 10;
  }

  /* Dropdown gösterildiğinde */
  .kuhlturm-dropdown-content.kuhlturm-show {
    display: block;
  }

  /* Mobil menü kapalıyken */
  .kuhlturm-main-nav {
    display: none;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.9);
    position: fixed;
    top: 0; /* Sabit navbarın hemen altında */
    right: 0;
    width: 100%;
    height: 100vh;
    justify-content: flex-start; /* Üste hizalayın */
    align-items: flex-start;
    padding-top: 50px; /* Menü içeriği sabit navbarın altında başlasın */
    transition: transform 0.4s ease;
    transform: translateX(100%);
    z-index: 99;
    opacity: 0;
    visibility: hidden;
  }

  /* Menü Açıldığında Görünür */
  .kuhlturm-main-nav.kuhlturm-mobile-visible {
    transform: translateX(0);
    opacity: 1;
    visibility: visible;
  }

  /* Dropdown Menü Gösterimi */
  .kuhlturm-show {
    display: flex;
  }

  /* X işaretine dönüş animasyonu */
  .rotate-down {
    transform: rotate(45deg) translate(5px, 5px);
  }

  .rotate-up {
    transform: rotate(-45deg) translate(5px, -5px);
  }

  .hide {
    opacity: 0;
  }
}
