#Galerie {
    padding: 20px;
    margin: 15px auto;
    max-width: 1100px;
    background-color: var(--background2-color);
    text-align: center;
}

.gallery-header {
    text-align: center;
    margin-bottom: 20px;
    background-color: var(--background-color);
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.gallery-header h2 {
    color: var(--primary-color);
    margin-bottom: 10px;
}

.gallery-header p {
    color: var(--secondary-color);
    text-align: start;
    margin-bottom: 20px;
}

.gallery-card {
    background-color: var(--background-color);
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.carousel-container {
    max-width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    padding-top: 0;
}

/* Sol taraftaki büyük slayt alanı */
.carousel {
    width: 60%; /* Ekranın %60'ını kaplayacak */
    position: relative;
    overflow: hidden;
}

.carousel-images {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.carousel-image {
    min-width: 100%;
    height: 400px; /* Slayt yüksekliği ayarlandı */
    object-fit: cover;
    display: none;
}

.carousel-image.active {
    display: block;
    transition: opacity 0.5s ease-in-out;
}

/* Sağ tarafta küçük resimler */
.carousel-thumbnails {
    width: 50%; /* Ekranın %35'ini kaplayacak */
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding:15px 0;
    gap: 10px; /* Küçük resimler arasında boşluk */
}

.carousel-thumbnail {
    width: 100px;
    height: 100px;
    object-fit: cover;
    cursor: pointer;
    transition: transform 0.3s ease;
    border: 2px solid transparent;
}

.carousel-thumbnail:hover {
    transform: scale(1.1);
}

.carousel-thumbnail.active {
    border: 2px solid #428BFF;
    transform: scale(1.1);
    transition: border-color 0.3s ease;
}

/* Carousel kontrol butonları */
.carousel-control {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 50%;
}

.prev {
    left: 10px;
}

.next {
    right: 10px;
}

@media (max-width: 993px) {
    .carousel-container {
        flex-direction: column;
    }

    .carousel {
        width: 100%; 
    }

    .carousel-thumbnails {
        width: 100%;
    }
}

/* Mobil görünüm için düzenleme */
@media (max-width: 768px) {

    #Galerie {
        padding: 10px;
    }

    #Galerie h4 {
        font-size: 16px;
    }

    .carousel-container {
        flex-direction: column; /* Mobilde üst üste gelecek */
    }

    .carousel {
        width: 100%; /* Mobilde tam genişlik */
    }

    .carousel-image {
        height: 300px; /* Mobilde slayt yüksekliği ayarlandı */
    }

    .carousel-thumbnails {
        flex-direction: row;
        flex-wrap: wrap;
        width: 100%;
        margin-top: 20px;
        gap: 5px;
    }

    .carousel-thumbnail {
        width: 80px;
        height: 80px;
    }
}
