/* Geschichte Section Styling */
#geschichte-section {
    padding: 50px;
    background-color: var(--background2-color);
    text-align: center;
    color: var(--text-color);
}

#geschichte-section h1 {
    font-size: 36px;
    margin-bottom: 20px;
    color: var(--primary-color);
}

.geschichte-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 30px; /* Esneklik ve boşluk */
}

.geschichte-text {
    width: 60%;
    text-align: left;
}

.geschichte-text h4 {
    font-size: 16px;
    line-height: 1.5;
    color: var(--text2-color);
    text-align: left;
}

.geschichte-image {
    width: 35%;
}

.geschichte-image img {
    border-radius: 10px;
    width: 100%;
    height: auto;
    object-fit: cover;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); /* Hafif bir gölge eklendi */
}

/* Responsive Design */
@media (max-width: 768px) {
    .geschichte-container {
        flex-direction: column;
        align-items: center;
    }

    .geschichte-text {
        width: 100%;
        text-align: center; /* Küçük ekranlar için metin ortalanacak */
    }

    .geschichte-image {
        width: 100%;
        margin-top: 20px;
    }
}
