/* Genel stil ayarları */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Produkte sayfası için stiller */
#Produkte {
    padding: 20px;
    background-color: #f4f4f4;
}

.container {
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
}

.sidebar {
    flex: 1;
    margin-right: 20px;
}

.sidebar h2 {
    font-size: 1.8rem;
    color: var(--primary-color);
}

.sidebar ul {
    list-style: none;
    padding: 0;
}

.sidebar ul li {
    margin: 10px 0;
}

.sidebar ul li a {
    text-decoration: none;
    color: var(--secondary-color);
    font-size: 1.2rem;
    transition: color 0.3s ease;
}

.sidebar ul li a:hover {
    color: var(--primary-color);
}

.content {
    flex: 3;
    background-color: white;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.content h1,
.content h2 {
    color: var(--primary-color);
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.gallery img {
    width: 100%;
    height: auto;
    max-width: 250px;
    border-radius: 5px;
    object-fit: cover;
}

/* Responsive */
@media (max-width: 768px) {
    .container {
        flex-direction: column;
    }

    .sidebar {
        margin-right: 0;
        margin-bottom: 20px;
    }
}
