:root {
    /* Renkler */
    --primary-color: #6b8e23; /* Yeşil tonları */
    --secondary-color: #8a2be2; /* Mor tonları */
    --tertiary-color: #ff4500; /* Turuncu tonları */
    --highlight-color: #ffcc00; /* Vurgulama rengi - sarı tonları */
    --background-dark-color: #333; /* Koyu arka plan rengi */
    --accent-color: #00ced1; /* Deniz mavisi tonları */
    --muted-color: #777; /* Soluk gri tonları */

    --text-color: #ffffff;
    --background-color: #f5f5f5;
    --background2-color: #EAEDF2;
    --border-color: #ccc;

    /* Yazı Tipleri */
    --font-family: 'Arial', sans-serif;
    --font-size-base: 16px;
    --font-size-large: 18px;
    --font-size-small: 14px;

    /* Buton Stilleri */
    --button-background-color: #004479;
    --button-text-color: #fff;
    --button-padding: 10px 20px;
    --button-border-radius: 5px;
}
