:root {
    /* Renkler */
    --primary-color: #486289;
    --secondary-color: rgb(60,60,60);
    --tertiary-color: #ff4500; /* Turuncu tonları */
    --tertiary-color2: #86A12B; 
    --highlight-color: #ffcc00; /* Vurgulama rengi - sarı tonları */
    --background-dark-color: #333; /* Koyu arka plan rengi */
    --accent-color: #007BFF; /* Deniz mavisi tonları */
    --muted-color: #777; /* Soluk gri tonları */

    --text-color: #ffffff;
    --text2-color: #000;
    --text3-color:#3c3c3c;
    --text4-color:#7b587f;
    --text5-color: #b42056;
    --background-color: #f5f5f5;
    --background2-color: #EAEDF2;
    --background3-color: #3C92B0;
    --border-color: #ccc;

    /* Yazı Tipleri */
    --font-family: 'Rubik', sans-serif;
    --font-family2: 'Open Sans', sans-serif;
    --font-size-base: 16px;
    --font-size-large: 18px;
    --font-size-small: 14px;

    /* Buton Stilleri */
    --button-background-color: #004479;
    --button-text-color: #fff;
    --button-padding: 10px 20px;
    --button-border-radius: 5px;
}
