/* Zertifikate Section Styling */

#zertifikate-section {
  padding:20px;
  text-align: center;
  background-color: var(--background2-color);
  margin: 0 auto;
  max-width: 1100px;
  }
  
  #zertifikate-section h1 {
    margin-bottom: 20px;
  }
  
  #zertifikate-section h4 {
    line-height: 1.6;
    color: var(--text2-color);
    margin-bottom: 20px;
    text-align: start;
  }
  
  /* Sertifikalar için grid düzeni */
  .container-zertifikate {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    justify-items: center;
    margin-top: 30px;
  }
  
  .container-zertifikate img {
    max-width: 100%;
    height: auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }
  
  .container-zertifikate img:hover {
    transform: scale(1.5);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  }
  
  /* Responsive Design */
  @media (max-width: 768px) {

    #zertifikate-section {
      padding:10px;
      }
  
    .container-zertifikate {
      grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    }
  }
  