.footer {
    background-color: var(--primary-color);
    color: var(--text-color);
    padding: 20px;
    text-align: center;
}

.footer .social-icons ul {
    padding: 0;
    margin-bottom: 20px;
}

.footer .social-icons ul li {
    display: inline-block;
    margin: 0 10px;
}

.footer .social-icons ul li a {
    color: var(--text-color);
    font-size: 24px;
    transition: color 0.3s ease;
}

.footer .social-icons ul li a:hover {
    color: var(--secondary-color); /* İkon üzerine gelince renk değişecek */
}

.footer .copyright h4 {
    font-size: 14px;
    margin: 0;
    color: var(--text-color);
}

/* Mobil uyumluluk */
@media (max-width: 768px) {
    .footer .copyright h4 {
        font-size: 12px;
    }
}
