
/*----------------------------------------*/
/*  FEEDBACK CSS START
/*----------------------------------------*/


@use '../utils' as *;

.feedback__overlay {
	position: relative;
	z-index: 11;
	&:after {
		position: absolute;
		content: "";
		height: 100%;
		width: 100%;
		top: 0;
		left: 0;
		background: rgba(28, 28, 28, 0.91);
		z-index: -1;
	}
}
.feedbacK__content-wrapper {
	&.space {
		margin-top: -180px;
	}
}
.feedback__content-inner {
	margin-left: 100px;
}
.feedback__content-wrapper {
	padding-right: 80px;
	@media #{$xs,$sm,$md,$lg,$xs,$sm}{
		padding-right: 0;
	}
	& > p {
		margin-bottom: 45px;
	}
}
.feedback__review-wrapper {
	& > h6 {
		margin-bottom: 35px;
		font-size: 20px;
		border-top: 1px solid var(--clr-border-1);
		padding-top: 48px;
	}
}
.feedbacK__thumb {
	& > img {
		padding-right: 116px;
		width: 100%;
		@media #{$xs,$sm}{
		padding-right: 0;
		}
	}
}
.feedback__review-inner {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}
.eedback__review-thumb {
	margin-bottom: 25px;
}
.feedback__review-icon {
	margin-bottom: 5px;
	i {
		color: var(--clr-theme-3);
	}
}
.feedback__review-text {
	display: flex;
	align-items: center;
	gap: 9px;
	h6 {
		font-size: 20px;
	}
}
.feedbacK__content {
	& > p {
		font-size: 20px;
		font-weight: 500;
		margin-bottom: 32px;
		line-height: 2.0;
		color: var(--clr-common-heading);
		@media #{$xxs}{
			font-size: 18px;
		}
	}
	.feedback__review-icon {
		margin-bottom: 20px;
	}
}
.feedbacK__content-wrapper {
	padding: 40px 40px;
	border-radius: 10px;
	background: var(--clr-common-white);
	box-shadow: 0px 10px 50px rgba(50, 73, 179, 0.08);
	position: relative;
	z-index: 5;
	margin-left: 0;
	@media #{$xs}{
		margin-left: 0;
	}
	@media #{$xxs}{
		padding: 40px 20px;
		margin-left: 0;
	}
}
.feedback__meta {
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
	gap: 30px;
}
.feedback__meta-author {
	h5 {
		font-size: 18px;
		font-weight: 600;
		margin-bottom: 10px;
	}
}
.feedbacK__content-wrapper {
	&.s-2 {
		margin-left: 0;
		margin-top: 0;
	}
}
.feedback__bg {
	position: relative;
	&:before {
		position: absolute;
		content: "";
		height: 100%;
		width: 570px;
		background: var(--clr-common-heading);
		top: 0;
		left: 0;
		@media #{$xs,$sm}{
			width: 100%;
		}
	}
}
.feedback__title {
	h2 {
		writing-mode: sideways-lr;
		text-orientation: mixed;
		font-size: 50px;
		color: var(--clr-common-white);
		margin-left: 100px;
		@media #{$xs,$sm,$md,$lg}{
			margin-left: 0;
		}
		@media #{$xs,$sm,$md}{
			writing-mode: rl-tb;
			font-size: 36px;
		}
	}
	@media #{$xs,$sm,$md}{
		margin-bottom: 105px;
	}
}
.feedback__pattren {
	position: absolute;
	right: 0;
	z-index: -1;
	@media #{$xs,$sm,$md}{
		display: none;
	}
}
.feedbacK__shape {
	position: absolute;
	z-index: 5;
	right: -70px;
	top: 80px;
	@media #{$xs,$sm}{
		display: none;
	}
}
.feedback-shape-2 {
	position: absolute;
	top: 80px;
	left: 40px;
	@media #{$xs,$sm}{
		display: none;
	}
}
.feedback-shape-3 {
	position: absolute;
	right: 120px;
	bottom: 108px;
	@media #{$xs,$sm}{
		display: none;
	}
}
.feedback__inner {
	position: relative;
	padding-top: 120px;
	padding-bottom: 120px;
	@media #{$xs,$sm,$md}{
		padding-bottom: 60px;
	}
}
// Feedback-2
.testimonial__slider-2 {
	margin-left: 100px;
	position: relative;
	@media #{$xs,$sm,$md}{
		margin-left: 0;
	}
	@media #{$lg}{
		margin-left: 50px;
	}
}
.testimonial__slider-active-2 {
	margin-bottom: 50px;
}
.feedback__slider-arrow-2 {
	display: flex;
	gap: 10px;
}
.feedback__slider-arrow-2 {
	button {
		width: 50px;
		height: 50px;
		display: inline-flex;
		align-items: center;
		justify-content: center;
		color: #727272;
		border: 1px solid #c7c7c7;
		border-radius: 50%;
		font-size: 16px;
		z-index: 1;
		&:hover {
			background-color: var(--clr-theme-1);
			color: var(--clr-common-white);
			border-color: transparent;
		}
	}
}
.testimonial__slider-thumb-nav.slick-slide.slick-current.slick-active {
	transform: scale(1.2);
}
.testimonial__slider-thumb-nav {
	margin-bottom: 70px;
}
.testimonial__slider-thumb-nav {
	position: relative;
	img {
		width: 130px !important;
		height: 130px;
		border: 1px solid transparent;
		border-radius: 50%;
		padding: 5px;
		transform: scale(0.9);
	}
}

.ens-circle-nav {
	display: inline-flex;
	align-items: center;
	gap: 10px;
}

.ens-circle-arrow {
	width: 44px;
	height: 44px;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	border: 1px solid rgba(0, 0, 0, 0.14);
	border-radius: 999px;
	background: transparent;
	color: var(--clr-common-heading);
	transition: all 0.2s ease;
}

.ens-circle-arrow svg {
	width: 18px;
	height: 18px;
}

.ens-circle-arrow:hover {
	background: var(--clr-theme-1);
	border-color: transparent;
	color: var(--clr-common-white);
}

.ens-circle-arrow.swiper-button-disabled,
.ens-circle-arrow[disabled] {
	opacity: 0.45;
	cursor: not-allowed;
}

.feedback__review-icon svg {
	width: 18px;
	height: 18px;
	vertical-align: middle;
}

.feedback__review-icon svg.is-filled {
	color: #f5b301;
}

.feedback__review-icon svg.is-empty {
	color: #000;
	opacity: 0.9;
}

.ens-rating-picker {
	display: inline-flex;
	gap: 6px;
	align-items: center;
}

.ens-rating-star {
	border: 0;
	background: transparent;
	padding: 0;
	line-height: 1;
	opacity: 0.35;
}

.ens-rating-star.is-active {
	opacity: 1;
}

.ens-rating-star svg {
	color: #000;
}

.ens-rating-star.is-active svg {
	color: #f5b301;
}

.modal-backdrop-custom {
	position: fixed;
	inset: 0;
	z-index: 1050;
	background: rgba(0, 0, 0, 0.45);
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 20px;
}

.modal-card-custom {
	width: min(640px, 100%);
	background: #fff;
	border-radius: 12px;
	overflow: hidden;
	box-shadow: 0 20px 60px rgba(0, 0, 0, 0.22);
}

.modal-head-custom {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 16px 20px;
	border-bottom: 1px solid #e8edf5;
}

.modal-title-custom {
	font-size: 20px;
	font-weight: 700;
}

.modal-close-custom {
	font-size: 28px;
	color: #111;
	line-height: 1;
	text-decoration: none;
}

.modal-body-custom {
	padding: 20px;
}
