@use '../utils' as *;

/*----------------------------------------*/
/*  HEADER CSS START
/*----------------------------------------*/

// Transparent header
.header__transparent:not(.sticky) {
  position: absolute;
  left: 0;
  margin: auto;
  width: 100%;
  z-index: 99999 !important;

  .main-menu.main-menu-3 nav > ul > li > a,
  .main-menu.main-menu-3 nav > ul > li > button {
    color: var(--clr-common-white) !important;
    font-weight: 600 !important;
    text-shadow: 0 2px 15px rgba(0,0,0,0.8);
  }

  .main-menu.main-menu-3 .submenu li a {
    color: #444 !important;
    text-shadow: none !important;
    font-weight: 500 !important;
    padding: 10px 25px !important;
    display: block !important;
    background: transparent !important;
    &:hover {
      color: var(--clr-theme-1) !important;
      background: rgba(0,0,0,0.03) !important;
    }
  }

  .header__btn .border__btn.s-3 {
    color: var(--clr-common-white) !important;
    border-color: rgba(255, 255, 255, 0.5) !important;
    font-weight: 700 !important;
    &:hover {
      background-color: var(--clr-common-white);
      color: var(--clr-theme-1) !important;
    }
  }

  .bar-icon span {
    background: var(--clr-common-white) !important;
  }

  .language-switcher select {
    color: var(--clr-common-white) !important;
    background-color: rgba(255, 255, 255, 0.1) !important;
    border-color: rgba(255, 255, 255, 0.3) !important;
    font-weight: 600;
    option {
      color: #333;
    }
  }

  // Mobile: always fixed white header
  @media (max-width: 767px) {
    position: fixed !important;
    background: var(--clr-common-white) !important;
    box-shadow: 0 0 60px 0 rgba(53, 57, 69, 0.15) !important;

    .bar-icon span {
      background: #000 !important;
    }
  }
}
// Sticky header
.sticky {
  position: fixed !important;
  top: 0;
  background: var(--clr-common-white);
  z-index: 99999 !important;
  right: 0;
  left: 0;
  width: 100%;
  @include transition(0.3s);
  @include box-shadow(0 0 60px 0 rgba(53, 57, 69, 0.15));
  animation: 300ms ease-in-out 0s normal none 1 running fadeInDown;
  @media #{$xs,$sm,$md} {
    padding: 22px 0;
  }
}
.copyright__logo img,
.footer__logo img,
.header__logo img {
  max-width: 170px;
}

.header__logo,
.header__logo a {
  position: relative;
  z-index: 100000 !important;
}

/* Keep header/logo above hero overlays and slider layers */
#header-sticky.header__transparent,
#header-sticky.sticky.header__area-3 {
  z-index: 99999 !important;
}

#header-sticky .header__logo,
#header-sticky .header__logo a,
#header-sticky .header__logo img {
  position: relative;
  z-index: 100000 !important;
}
.header__area-2 {
  padding-top: 40px;
  &.sticky {
    padding: 15px 0;
    @media #{$xs,$sm,$md} {
      padding: 27px 0;
    }
    .border__btn {
      &.white {
        border: 2px solid var(--clr-theme-1);
        color: var(--clr-theme-1);
        &:hover {
          color: var(--clr-common-white);
        }
      }
    }
  }
}
.header__area-3 {
  @media #{$xs,$sm,$md} {
    padding: 22px 0;
  }
}
// Header style
.header {
  &__area {
    &-2 {
      .container {
        max-width: 1500px;
      }
    }
    @media #{$xs,$sm,$md} {
      padding: 27px 0;
    }
    .container {
      max-width: 1460px;
    }
    &-3 {
      .container {
        max-width: 1580px;
      }
    }
  }
}
.menu__main-wrapper-3 {
  margin-right: 50px;
  @media #{$lg} {
    margin-right: 0;
  }
}
.header__toggle-wrapper {
  @media #{$xs,$sm} {
    display: none !important;
  }
}
// Topber style
.header__logo-inner {
  display: flex;
  gap: 125px;
}
.header__contact {
  display: flex;
  gap: 70px;
  justify-content: flex-end;
}
.contact__item {
  display: flex;
  gap: 15px;
  align-items: center;
}
.contact__icon {
  width: 48px;
  height: 48px;
  background: transparent;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #c7c7c7;
  border-radius: 50px;
}
.contact__tet {
  a {
    color: var(--clr-common-heading);
    font-size: 18px;
    font-weight: 500;
    &:hover {
      color: var(--clr-theme-1);
    }
  }
}

// Mean__menu
.main-menu {
  & ul {
    & li {
      position: relative;
      list-style: none;
      display: inline-block;
      margin-right: 45px;
      &:last-child {
        margin-right: 0;
      }
      @media #{$xl} {
        margin-right: 35px;
      }
      @media #{$lg} {
        margin-right: 35px;
      }
      & a,
      button {
        display: inline-block;
        font-size: 16px;
        color: var(--clr-common-heading);
        padding: 42px 0;
        font-weight: var(--bd-fw-medium);
        @include transition(0.3s);
        text-transform: capitalize;
        line-height: 1;
      }
      & .submenu {
        position: absolute;
        border-radius: 6px;
        top: 120%;
        left: 0;
        width: 220px;
        padding: 15px 0;
        padding-bottom: 15px;
        background: var(--clr-common-white);
        border-top: 3px solid var(--clr-theme-1);
        @include transition(0.3s);
        @include box-shadow(0px 30px 70px 0px rgba(11, 6, 70, 0.08));
        visibility: hidden;
        opacity: 0;
        z-index: 50;
        & li {
          display: block;
          width: 100%;
          margin: 0;
          &.has-dropdown {
            & > a,
            button {
              &::after {
                position: absolute;
                top: 50%;
                right: 25px;
                @include transform(translateY(-50%) rotate(-90deg));
              }
            }
          }
          & > a {
            width: 100%;
            display: block;
            padding: 10px 25px;
            text-transform: capitalize;
            color: var(--clr-common-heading);
            font-weight: var(--bd-fw-medium);
            position: relative;
            &::after {
              right: 30px;
              @include transform(translateY(-50%) rotate(-90deg));
            }
            &::before {
              display: none;
            }
          }
          & .submenu {
            left: 120%;
            top: 0;
            visibility: hidden;
            opacity: 0;
          }
          &:hover {
            & > a {
              color: var(--clr-theme-1);
              &::after {
                color: var(--clr-theme-1);
                @include transform(translateY(-6px) rotate(45deg));
              }
              &::before {
                left: 0;
                right: auto;
                width: 100%;
              }
            }
            & > .submenu {
              left: 100%;
              visibility: visible;
              opacity: 1;
            }
          }
        }
      }
      &:hover {
        & > a,
        button {
          color: var(--clr-theme-1);
        }
        & > .submenu {
          top: 100%;
          visibility: visible;
          opacity: 1;
        }
      }
    }
  }
  &-3 {
    ul {
      &.submenu {
        li {
          &:hover {
            &:hover {
              & > a {
                color: var(--clr-theme-5);
              }
            }
          }
        }
      }
      li {
        .submenu {
          border-top: 3px solid var(--clr-theme-5);
        }
        &:hover {
          &.has-dropdown {
            & > a {
              &::after {
                color: var(--clr-theme-5);
              }
            }
          }
        }
        a {
          color: var(--clr-common-black);
          &:hover {
            color: var(--clr-theme-5);
          }
        }
        &.has-dropdown {
          & > a {
            &::after {
              color: var(--clr-common-black);
            }
          }
        }
      }
    }
  }
}

// Header baricon
.bar-icon {
  width: 20px;
  height: 14px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
  span {
    width: 100%;
    height: 2px;
    background: #000;
    display: inline-block;
    &:nth-child(2) {
      margin-left: 9px;
      transition: 0.3s;
    }
  }
  &.s-2 {
    span {
      background: var(--clr-common-white);
    }
  }
  &:hover {
    span {
      &:nth-child(2) {
        margin-left: 0;
      }
    }
  }
}
.humbager__icon {
  width: 60px;
  height: 60px;
  border-radius: 10px;
  background: var(--clr-common-white);
  box-shadow: 0px 25px 40px rgba(50, 73, 179, 0.08);
  display: inline-flex;
  align-items: center;
  justify-content: center;
}
.header__toggle-text {
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 0.1em;
  color: var(--clr-common-heading);
}
